# Go build cache
/build
/bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, coverage, output
*.test
*.out
*.cov

# VCS
.git
.gitignore
.gitattributes

# Editor
*.swp
*.swo
*.idea/
*.vscode/
*.DS_Store

# Dependency/Vendor
vendor/
node_modules/

# OS
Thumbs.db
ehthumbs.db
Desktop.ini